.guests {
  h1, h2, h3 {
    text-align: center;
  }
}

.avatar {
  margin: 40px auto 0;
  height: 250px;
  width: 250px;
  border-radius: 125px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}