.guests {
  h1, h2, h3 {
    text-align: center;
  }

  h3 {
    margin-top: 0 !important;
  }

  .social-media {
    display: flex;
    justify-content: center;
    img {
      width: 30px;
      margin: 0 5px;
    }
  }

  .avatar {
    margin: 40px auto 0;
    height: 250px;
    width: 250px;
    border-radius: 125px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .guests-index {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    >div {
      margin: 5px 10px;
    }

    a {
      color: #aaa !important;
    }
  }
}