.guests {
  h1, h2, h2::before, h3::before {
    text-align: center;
    content: initial;
  }

  h3 {
    margin-top: 0 !important;
  }

  .social-media {
    display: flex;
    justify-content: center;
    img {
      width: 30px;
      margin: 0 5px;
      filter: opacity(70%);
    }
  }

  .avatar {
    margin: 40px auto 0;
    height: 250px;
    width: 250px;
    border-radius: 125px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .guests-index {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    >div {
      margin: 5px;
      text-align: center;
      width: 120px;
    }

    a {
      text-decoration: none;
    }

    .avatar-square {
      height: 120px;
      width: 120px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 5px;
    }

    .guest-title {
      color: #aaa;
      font-size: 12px;
    }
  }
}