.featured-posts {
  height: 400px;
  margin: 5px 10px 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.featured-posts h2 {
   display: inline-block;
   color: white;
   line-height: 1em;
}
.featured-posts span a {
  color: white;
}
.featured-posts h1 {
  margin: 10px;
}
.featured-posts-overlay {
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  margin: 0;
  padding: 10px;
  position: absolute;
  color: #aaaaaa;
  font-size: 14px;
}

/*
  Pagination
*/

.pagination {
  text-align: center;
}
.pagination a {
  text-decoration: none;
}
.pagination-button {
  color: #999;
  border: 1px solid #e0e0e0;
  padding: 15px 45px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}
.pagination-active {
  color: black;
}
.pagination-active:hover {
  background-color: #e0e0e0;
}

/*
  Section
*/

.section-title {
  text-align: center;
  letter-spacing: 8px;
  margin: 40px auto 20px;
  font-size: 18px;
}

.section-title-big {
  text-align: center;
  letter-spacing: 8px;
  margin: 40px auto 20px;
  font-size: 24px;
}

.campaign {
  margin-top: 20px;
  text-align: center;

  .slogan {
    font-size: 28px;
    margin: 10px auto;
  }

  .message {
    color: #555;
    font-size: 14px;
    margin: 0 auto 10px;
    max-width: 720px;
  }

  .button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    >div {
      margin: 4px;
    }

    .button {
      border: 1px solid #000;
      padding: 4px;
      text-decoration: none;
      width: 120px;

      a {
        text-decoration: none;
      }
    }
  }
}
