/*
  Post small view
*/

.post-preview-grid {
  display: flex;
  flex-wrap: wrap;
}

.post-preview {
  margin: 10px;

  &.sm{
    flex-grow: 1;
    width: 300px;
    margin: 10px;
  }

  .image {
    height: 300px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 4px;
  }

  img {
    width: 100%;
    max-width: 320px;
  }

  h3 {
    color: inherit;
    margin: 0.5rem 0 0;
    text-align: center;
  }

  .subtitle {
    color: $title-color;
    font-size: 1rem;
    margin-bottom: 0.25rem;
    text-align: center;
  }

  .date {
    color: $title-color;
    font-size: 1rem;
    margin-bottom: 0.25rem;
    text-align: center;
  }

  .excerpt {
    color: $title-color;
    font-size: 0.9rem;
  }

  a {
    text-decoration: none;
  }
}