/*
  Post small view
*/

.many-posts {
  display: flex;
  flex-wrap: wrap;

  .many-post {
    flex-grow: 1;
    width: 300px;
    margin: 10px;

    b {
      font-size: 18px;
    }

    .image {
      height: 200px;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 4px;
    }

    .date {
      color: #aaa;
      font-size: 14px;
    }

    .excerpt {
      color: #555;
      font-size: 14px;
    }

    a {
      text-decoration: none;
    }
  }
}