/*
  Post small view
*/

.post-preview-grid {
  display: flex;
  flex-wrap: wrap;
}

.post-preview {
  margin: 10px;

  &.sm{
    flex-grow: 1;
    width: 300px;
    margin: 10px;
  }

  .image {
    height: 300px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 4px;
  }

  img {
    width: 100%;
  }

  .subtitle {
    color: #555;
    font-size: 18px;
    margin-bottom: 8px;
    text-align: center;
  }

  .date {
    color: #555;
    font-size: 14px;
    margin-bottom: 4px;
    text-align: center;
  }

  .excerpt {
    color: #555;
    font-size: 14px;
  }

  a {
    text-decoration: none;
  }

  h2 {
    text-align: center;
  }
}