.post-medium {
  margin: 40px 0;

  a {
    text-decoration: none;
  }

  h2 {
    line-height: 1;
  }

  .date {
    color: #aaa;
    font-size: 14px;
  }

  .excerpt {
    color: #555;
    font-size: 14px;
  }
}