.wide {

  h1 {
    text-align: center;
  }

  >p>img {
    max-width: 250px;
  }

  >ul {
    text-align: left;
  }

  >div.attribution {
    font-size: 10px;
    color: #ccc;

    a {
      color: #ccc !important;
    }
  }
}