---
layout: null
---
{% assign episodes = site.episodes | reverse %}
{% for episode in episodes %}
  {% assign episode_id = episode.episode | append: '' %}
  {% assign padded_id = episode_id | prepend: '000' | slice: -3, 3 %}

  {% assign bio = '<p>🎙️ 來賓簡介：<br>' %}
  {% for guest_name in episode.guests %}
    {% assign guest = site.guests | where_exp: "item", "item.id contains guest_name" | first %}
    {% assign bio = bio | append: guest.content %}
    {% if guest.website %}
      {% assign bio = bio | append: '<br>網站 <a href="' | append: guest.website | append: '">' | append: guest.website | append: '</a>' %}
    {% endif %}
    {% if guest.facebook %}
      {% assign bio = bio | append: '<br>Facebook <a href="' | append: guest.facebook | append: '">' | append: guest.facebook | append: '</a>' %}
    {% endif %}
    {% if guest.instagram %}
      {% assign bio = bio | append: '<br>Instagram <a href="' | append: guest.instagram | append: '">' | append: guest.instagram | append: '</a>' %}
    {% endif %}
    {% if guest.youtube %}
      {% assign bio = bio | append: '<br>Youtube <a href="' | append: guest.youtube | append: '">' | append: guest.youtube | append: '</a>' %}
    {% endif %}
  {% endfor %}
  {% assign bio = bio | append: '</p>' %}
  {% unless episode.guests %}
    {% assign bio = '' %}
  {% endunless %}

  {% assign timeline = '<p>✅ 本集重點：<ul>' %}
  {% for point in site.data.podcast_data[episode_id].timeline %}
    {% assign timeline = timeline | append: '<li>(' | append: point.time | append: ') ' | append: point.text | append: '</li>' %}
  {% endfor %}
  {% assign timeline = timeline | append: '</ul></p>' %}

  {% assign url = 'https://ltsoj.com/podcast-ep' | append: padded_id %}
  {% assign footer = '<p>Show note <a href="' | append: url | append: '">' | append: url | append: '</a>' %}
  {% assign footer = footer | append: '<br>官網 <a href="https://ltsoj.com">https://ltsoj.com</a><br>Facebook: <a href="https://facebook.com/lifetimesojourner">https://facebook.com/lifetimesojourner</a><br>Instagram: <a href="https://instagram.com/travel.wok">https://instagram.com/travel.wok</a><br>節目回饋 <a href="https://forms.gle/4v9Xc5PJz4geQp7K7">https://forms.gle/4v9Xc5PJz4geQp7K7</a></p>' %}
  {% assign description = site.data.podcast_data[episode_id].description | strip_html | markdownify | append: bio | append: timeline | append: footer %}
  
  <h2>{{episode.title}}</h2>
  {{description}}
  <hr>
{% endfor %}