{% if page.episode %}
  {% assign guests = site.guests | where_exp: "item", "item.episodes contains page.episode" %}
  {% if guests.size > 0 %}<h2>來賓簡介</h2>{% endif %}
{% else %}
  {% assign guests = site.guests | sort: 'order' %}
  <div class="guests">
    <div class="guests-index">
      {% for guest in guests %}
        <div>
          <a href="#{{ guest.name }}">
            <div class="avatar-square" style="background-image: url({{ guest.avatar | default: 'https://www.flaticon.com/svg/static/icons/svg/3617/3617147.svg' }})"></div>
            <div>{{ guest.name }}</div>
            <div class="guest-title">{{ guest.title }}</div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}

<div class="page-content guests">
  {% for guest in guests %}
    <a id="{{ guest.name }}"></a>
    <div class="avatar" style="background-image: url({{ guest.avatar | default: 'https://www.flaticon.com/svg/static/icons/svg/847/847969.svg' }})"></div>
    <h1>{{ guest.name }}</h1>
    {% if guest.title %}
      <h3>{{ guest.title }}</h3>
    {% endif %}
    <div class="social-media">
      {% if guest.website %}
      <a href="{{ guest.website }}"><div><img src="https://www.flaticon.com/svg/static/icons/svg/558/558593.svg"></div></a>
      {% endif %}
      {% if guest.facebook %}
        <a href="{{ guest.facebook }}"><div><img src="https://www.flaticon.com/svg/static/icons/svg/104/104643.svg"></div></a>
      {% endif %}
      {% if guest.instagram %}
        <a href="{{ guest.instagram }}"><div><img src="https://www.flaticon.com/svg/static/icons/svg/1362/1362857.svg"></div></a>
      {% endif %}
      {% if guest.youtube %}
        <a href="{{ guest.youtube }}"><div><img src="https://www.flaticon.com/svg/static/icons/svg/482/482059.svg"></div></a>
      {% endif %}
    </div>
      {{ guest.content | markdownify }}
    <b>合作集數：
      {% for episode in guest.episodes %}
        {% if episode >= 10 %}
        <a href="/podcast-ep0{{ episode }}">{{ episode }}</a>
        {% else %}
        <a href="/podcast-ep00{{ episode }}">{{ episode }}</a>
        {% endif %}
      {% endfor %}
    </b>
  {% endfor %}
</div>