<head>

  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} | {{ site.title }}
    {% endif %}
  </title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta name="description" content="深入世界冷門角落．探索歷史地理文化脈絡．分享議題觀點的旅行PODCAST">

  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/syntax.css">
  <!-- Use Atom -->
  {% feed_meta %}
  <!-- RSS-v2.0
  <link href="{{ site.github.url }}/rss-feed.xml" type="application/rss+xml" rel="alternate" title="{{ site.title }} | {{ site.description }}"/>
  //-->

  <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
  <!-- <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Noto+Sans+TC:wght@300&family=Noto+Serif+TC:wght@600&display=swap" rel="stylesheet"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/fontawesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/brands.min.css">

  <script async src="/assets/js/external-links.js"></script>

  <!-- Google Analytics -->
  {% include google-analytics.html %}

  <!-- Metadata -->
  {% if page.title == "Home" %}
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:image" content="{{ site.thumbnail }}">
    <meta property="og:url" content="{{ site.url }}">
  {% else %}
    <meta property="og:title" content="{{ page.title }} | {{ site.title }}">
    <meta property="og:description" content="{{ page.excerpt | strip_html }}">
    <meta property="og:image" content="{{ page.image }}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  {% endif %}

</head>
