<header class="site-header">

  <!-- main title -->
  <h3 class="site-title">
    <a href="/">{{ site.title }}</a>
  </h3>

  <!-- nav for wide screen -->
  <nav class="menu-list">
    <div class="dropdown">
      <a href="/all-posts" class="menu-link base-menu-link">BLOG</a>
      <div class="dropdown-content">
        {% for category in site.data.settings.blogmenu %}
          <a href="/tag/{{ category.tag }}" class="menu-link">{{ category.name }}</a>
        {% endfor %}
      </div>
    </div>
    <div class="dropdown">
      <a href="/podcast" class="menu-link base-menu-link">PODCAST</a>
      <div class="dropdown-content">
        <a href="/podcast" class="menu-link">關於</a>
        <a href="/collaborate" class="menu-link">合作須知</a>
        <a href="/guests" class="menu-link">來賓陣容</a>
        <a href="/episodes" class="menu-link">所有集數</a>
      </div>
    </div>
  </nav>

  <!-- nav for narrow screen -->
  <div class="dropdown">
    <button class="dropbtn"><i class="fa fa-bars" aria-hidden="true"></i></button>
    <div class="dropdown-content collapsed">
      <div class="menu-link base-menu-link">PODCAST</div>
      <a href="/podcast" class="menu-link base-menu-link">- 關於</a>
      <a href="/collaborate" class="menu-link base-menu-link">- 合作須知</a>
      <a href="/guests" class="menu-link base-menu-link">- 來賓陣容</a>
      <a href="/episodes" class="menu-link base-menu-link">- 所有集數</a>
      <div class="menu-link base-menu-link">BLOG</div>
      <a href="/all-posts" class="menu-link base-menu-link">- 所有文章</a>
    </div>
  </div>

</header>
