<header class="site-header">

  <!-- main title -->
  <h3 class="site-title">
    <a href="/">{{ site.title }}</a>
  </h3>

  <!-- nav for wide screen -->
  <nav class="menu-list">
    <a href="/podcast" class="menu-link base-menu-link">PODCAST</a>
    {% for item in site.data.settings.menu %}
      <div class="dropdown">
        <a href="/tag/{{ item.tag }}" class="menu-link base-menu-link">{{ item.name }}</a>
        <div class="dropdown-content">
          {% for subitem in item.subitems %}
            <a href="/tag/{{ subitem.tag }}" class="menu-link">{{ subitem.name }}</a>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
    <a href="/2019/09/29/about" class="menu-link base-menu-link">關於</a>
<!--     <a href="/en" class="menu-link base-menu-link english">English</a> -->

    {% for item in site.data.settings.social %}
      <a href="{{ item.link }}" class="menu-link" target="_blank"><i class="fa fa-{{ item.icon }}" aria-hidden="true"></i></a>
    {% endfor %}
  </nav>

  <!-- nav for narrow screen -->
  <div class="dropdown">
    <button class="dropbtn"><i class="fa fa-bars" aria-hidden="true"></i></button>
    <div class="dropdown-content collapsed">
      <a href="/podcast" class="menu-link base-menu-link">PODCAST</a>
      {% for item in site.data.settings.menu %}
        <a href="/tag/{{ item.tag }}" class="menu-link base-menu-link">{{ item.name }}</a>
<!--         {% for subitem in item.subitems %}
          <a href="{{ site.github.url }}/tag/{{ subitem.tag }}" class="menu-link">{{ subitem.name }}</a>
        {% endfor %} -->
      {% endfor %}
      <a href="/2019/09/29/about" class="menu-link base-menu-link">關於</a>
<!--       <a href="/en" class="menu-link base-menu-link english">English</a> -->

      {% for item in site.data.settings.social %}
        <a href="{{ item.link }}" class="menu-link" target="_blank"><i class="fa fa-{{ item.icon }}" aria-hidden="true"></i></a>
      {% endfor %}
    </div>
  </div>

</header>
