<header class="site-header">

  <!-- main title -->
  <h3 class="site-title">
    <a href="/">{{ site.title }}</a>
  </h3>

  <!-- nav for wide screen -->
  <nav class="menu-list">
    <div class="dropdown">
      <a href="/all-posts" class="menu-link base-menu-link">BLOG</a>
      <div class="dropdown-content">
        <a href="central-asia" class="menu-link">中亞</a>
        <a href="middle-east" class="menu-link">中東</a>
        <a href="eastern-europe" class="menu-link">東歐、前蘇聯</a>
        <a href="grand-trip" class="menu-link">橫跨歐亞大旅行</a>
        <a href="africa" class="menu-link">非洲</a>
        <a href="north-america" class="menu-link">北美洲</a>
        <a href="latin-america" class="menu-link">拉丁美洲</a>
        <a href="immigration" class="menu-link">移民與難民</a>
        <!-- <a href="my-story" class="menu-link">我的移民與職涯故事</a> -->
      </div>
    </div>
    <div class="dropdown">
      <a href="/podcast" class="menu-link base-menu-link">PODCAST</a>
      <div class="dropdown-content">
        <a href="/podcast" class="menu-link">關於節目</a>
        <a href="/host" class="menu-link">關於主廚</a>
        <a href="/guests" class="menu-link">來賓陣容</a>
        <a href="/maps" class="menu-link">地圖總匯</a>
        <a href="/categories" class="menu-link">內容索引</a>
        <a href="/contact" class="menu-link">合作聯繫</a>
      </div>
    </div>
  </nav>

  <!-- nav for narrow screen -->
  <div class="dropdown">
    <button class="dropbtn"><i class="fa fa-bars" aria-hidden="true"></i></button>
    <div class="dropdown-content collapsed">
      <div class="menu-link base-menu-link">PODCAST</div>
      <a href="/podcast" class="menu-link base-menu-link">- 關於節目</a>
      <a href="/host" class="menu-link base-menu-link">- 關於主廚</a>
      <a href="/guests" class="menu-link base-menu-link">- 來賓陣容</a>
      <a href="/maps" class="menu-link base-menu-link">- 地圖總匯</a>
      <a href="/categories" class="menu-link base-menu-link">- 內容索引</a>
      <a href="/contact" class="menu-link base-menu-link">- 合作聯繫</a>
      <div class="menu-link base-menu-link">BLOG</div>
      <a href="/all-posts" class="menu-link base-menu-link">- 所有文章</a>
    </div>
  </div>

</header>
