<div style="font-size: 14px; border: 1px solid #888; padding: 8px;">
  <div>我是熱愛自助旅行以及文化探索的終身旅人Jerome，感謝您拜訪本站，歡迎透過各種平台跟我聊聊旅行！ <i class="fa fa-facebook" aria-hidden="true"></i>&nbsp;<a href="https://www.facebook.com/lifetimesojourner">Facebook</a> | <i class="fa fa-instagram" aria-hidden="true"></i>&nbsp;<a href="https://instagram.com/lifetimesojourner">Instagram</a> | <i class="fa fa-medium" aria-hidden="true"></i>&nbsp;<a href="https://medium.com/@jeromecyang">Medium</a></div>
  <br>
  <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Flifetimesojourner&amp;width=250" frameborder="0" width="250" height="200"></iframe>
  <iframe src="https://www.instagram.com/p/B9GMYisFhnB/embed/captioned/" frameborder="0" width="250" height="200"></iframe>
</div>
