<div>
  <h2>與我們一起成長</h2>
  <div>
    <i class="fa fa-facebook" aria-hidden="true"></i>&nbsp;<a href="https://www.facebook.com/lifetimesojourner">Facebook</a> | 
    <i class="fa fa-instagram" aria-hidden="true"></i>&nbsp;<a href="https://instagram.com/travel.wok">Instagram (旅行熱炒店)</a> | 
    <i class="fa fa-instagram" aria-hidden="true"></i>&nbsp;<a href="https://instagram.com/lifetimesojourner">Instagram (終身旅人)</a> | 
    <i class="fa fa-medium" aria-hidden="true"></i>&nbsp;<a href="https://medium.com/@jeromecyang">Medium</a>
  </div>
</div>