<div style="font-size: 14px; border: 1px solid #888; padding: 8px;">
  <div>非常感謝您閱讀本站的文章！</div>
  <br>
  <div><a href="{{site.url}}">Lifetime Sojourner</a>是一個以<a href="{{site.url}}/tag/Travel">冷門國家旅行</a>、<a href="{{site.url}}/tag/Boston">城市角落探索</a>以及<a href="{{site.url}}/tag/Cross-Culture">跨文化現象</a>為主題的網路圖文媒體，誠摯歡迎任何有興趣的讀者一起來交流分享！您可以透過<a href="https://www.facebook.com/lifetimesojourner">Facebook</a>、<a href="https://instagram.com/lifetimesojourner">Instagram</a>、<a href="https://medium.com/@jeromecyang">Medium</a>追蹤，或者直接使用電子郵件訂閱本站的內容，也非常歡迎合作文章或轉載。想要更多了解本站以及作者群（目前總共一人，哈哈）或與我們聯絡的話，就請到本站的<a href="{{site.url}}/2019/09/29/about">簡介</a>頁面去看看吧 :D</div>
  <br>
  <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Flifetimesojourner&amp;width=250" frameborder="0" width="250" height="200"></iframe>
  <!--iframe src="https://www.instagram.com/p/B3a-aL7F9Nt/embed/captioned/" frameborder="0" width="250" height="200"></iframe-->
</div>