  <div class="footer-podcast">
    <a href="https://open.spotify.com/show/4ax4pKjk6P2GvPgXvJ3n85">Spotify</a>
    <a href="https://podcasts.apple.com/tw/podcast/id1518914711">Apple</a>
    <a href="https://podcasts.google.com/feed/aHR0cHM6Ly9sdHNvai5jb20vcG9kY2FzdC54bWw">Google</a>
    <a href="https://player.soundon.fm/p/2789c399-7fa1-41ba-a90c-cdbecbbcdb45">SoundOn</a>
    <a href="https://open.firstory.me/user/ckcfk196z4dj40918nldgmh7y">Firstory</a>
    <a href="https://baabao.com/single-program/58109">Baabao</a>
    <a href="https://podcast.kkbox.com/channel/_ZpVQTp72nXcwb7GV4">KKBox</a>
  </div>