<iframe src="https://open.spotify.com/embed-podcast/episode/{{page.player.spotify}}" width="100%" height="180" frameborder="0"></iframe>
<iframe src="https://embed.podcasts.apple.com/tw/podcast/id1518914711?i={{page.player.apple}}" width="100%" height="180" frameborder="0"></iframe>
{% if page.player.firstory %}
<iframe src="https://open.firstory.me/embed/story/{{page.player.firstory}}" width="100%" height="180" frameborder="0"></iframe>
{% endif %}
{% if page.player.youtube %}
<iframe src="https://www.youtube.com/embed/{{page.player.youtube}}" width="100%" height="180" frameborder="0" allowfullscreen></iframe>
{% endif %}