<div class="campaign podcast">
  <div class="slogan"><b>旅行熱炒店PODCAST</b></div>
  <div class="message">深入世界角落、探索歷史地理文化脈絡的知識型旅行PODCAST，以冷門路線旅行與史地人文為食材，30分鐘大火快炒，與您一同細細品嘗來自世界各角落的獨特風味！</div>
  <div class="button-container social">
    <div class="podcast-about"><a href="/podcast">關於我們</a></div>
    <div class="podcast-about"><a href="/collaborate">合作須知</a></div>
    <div class="podcast-about"><a href="/guests">來賓陣容</a></div>
    <div class="podcast-about"><a href="/contact">聯絡我們</a></div>
  </div>
  <div class="button-container">
    <div><a href="https://open.spotify.com/show/4ax4pKjk6P2GvPgXvJ3n85"><img src="https://ltsoj.com/assets/img/spotify-podcast-badge-blk-wht-165x40.png"></a></div>
    <div><a href="https://podcasts.apple.com/tw/podcast/id1518914711"><img src="https://ltsoj.com/assets/img/US_UK_Apple_Podcasts_Listen_Badge_RGB.svg"></a></div>
  </div>
  <div class="button-container platform">
    <div><a href="https://podcasts.google.com/feed/aHR0cHM6Ly9sdHNvai5jb20vcG9kY2FzdC54bWw">Google</a></div>
    <div><a href="https://player.soundon.fm/p/2789c399-7fa1-41ba-a90c-cdbecbbcdb45">SoundOn</a></div>
    <div><a href="https://open.firstory.me/user/ckcfk196z4dj40918nldgmh7y">Firstory</a></div>
    <div><a href="https://podcast.kkbox.com/channel/_ZpVQTp72nXcwb7GV4">KKBox</a></div>
  </div>
  <div class="button-container social">
    <div><a href="https://www.facebook.com/lifetimesojourner"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></div>
    <div><a href="https://instagram.com/travel.wok"><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
  </div>
</div>
