<div class="campaign podcast">
  <div class="slogan"><b>「旅行熱炒店」PODCAST正式上線啦！</b></div>
  <div class="message">喜歡聽各種精彩的旅行故事與地方趣聞、卻覺得閱讀文字太累嗎？來聽聽Jerome製作的podcast「旅行熱炒店」吧！以冷門路線旅行、史地人文、話題時事為食材，故事性與知性兼具，30分鐘的大火快炒，與您一同細細品嘗來自世界各角落的獨特風味！</div>
  <div class="button-container">
    <div><a href="https://open.spotify.com/show/4ax4pKjk6P2GvPgXvJ3n85"><img src="assets/img/spotify-podcast-badge-blk-wht-165x40.png"></a></div>
    <div><a href="https://podcasts.apple.com/us/podcast/id1518914711"><img src="assets/img/US_UK_Apple_Podcasts_Listen_Badge_RGB.svg"></a></div>
    <div><a href="https://podcasts.google.com/feed/aHR0cHM6Ly9sdHNvai5jb20vcG9kY2FzdC54bWw"><img src="https://lh3.googleusercontent.com/VwSc0fESmGvRQ-6cv7-_sONmRRo1aiXJsfsf0NJzhN58i9mlOVf1W83aUjVVtiJNSZY=w160" style="height: 40px"></a></div>
    <div><a href="http://player.soundon.fm/p/2789c399-7fa1-41ba-a90c-cdbecbbcdb45"><img src="https://static1.squarespace.com/static/5d614709e6f7f5000164a4a0/t/5d61493b28912e00016daf3c/1592893619052/?format=100w" style="width: 140px; padding: 6px 10px"></a></div>
    <div><a href="https://www.facebook.com/lifetimesojourner"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></div>
    <div><a href="https://instagram.com/travel.wok"><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
  </div>
</div>