<div class="post-preview {% unless use_md %}sm{% endunless %}">
  <div>
    {% assign image_url = post.image %}
    {% if image_url contains 'imgur' %}
      {% assign image_url = post.image | replace: '.jpg', 'm.jpg' %}
    {% endif %}
    {% if use_img %}
      <a href="{{ post.url }}">
        <img src="{{ image_url }}" alt="{{ post.title }}">
      </a>
    {% else %}
      <a href="{{ post.url }}">
        <div class="image" {% if post.image %}style="background-image:url({{ image_url }})"{% endif %}></div>
      </a>
    {% endif %}
  </div>
  <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
  {% if post.subtitle %}
    <div class="subtitle"><b>{{ post.subtitle }}</b></div>
  {% endif %}
  {% if post.collection == 'posts' or post.collection == 'episodes' %}
    <div class="date"><b>{{ post.date | date: "%Y/%m/%d" }}</b></div>
  {% endif %}
  <div class="excerpt">{{ post.excerpt | strip_html }}</div>
</div>