<div class="guests">
  <div class="avatar" style="background-image: url({{ guest.image | default: 'https://cdn-icons-png.flaticon.com/512/847/847969.png' }})"></div>
  <h2 style="text-align: center">{{ guest.title }}</h2>
  <h3 style="text-align: center">{{ guest.subtitle }}</h3>
  <div class="social-media">
    {% if guest.website %} 
    <a href="{{ guest.website }}"><div><img src="https://img.icons8.com/ios-glyphs/344/internet--v1.png" alt="Website"></div></a>
    {% endif %}
    {% if guest.facebook %}
      <a href="{{ guest.facebook }}"><div><img src="https://img.icons8.com/ios-glyphs/344/facebook-new.png" alt="Facebook"></div></a>
    {% endif %}
    {% if guest.instagram %}
      <a href="{{ guest.instagram }}"><div><img src="https://img.icons8.com/ios-glyphs/344/instagram-new.png" alt="Instagram"></div></a>
    {% endif %}
    {% if guest.youtube %}
      <a href="{{ guest.youtube }}"><div><img src="https://img.icons8.com/ios-glyphs/344/youtube-play.png" alt="Youtube"></div></a>
    {% endif %}
  </div>
  <p>{{ guest.content | markdownify }}</p>

  {% assign guest_name = guest.id | replace: '/guest/', '' %}
  {% assign related_episodes = site.episodes | where_exp: "item", "item.guests contains guest_name" %}
  <div class="related-items-list">
    <div>合作集數</div>
    {% for episode in related_episodes %}
      <div><a href="{{episode.url}}">{{episode.episode}}</a></div>
    {% endfor %}
  </div>
</div>