<a href="ukraine" style="text-decoration: none">
  <div style="margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 300px;
  background-image: url(https://ichef.bbci.co.uk/news/976/cpsprodpb/1176F/production/_123453517_gettyimages-1373101584-594x594.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;">
    <h1 style="text-align: center; font-size: 3rem; color: #ffffff;">烏克蘭專區</h1>
  </div>
</a>