---
# Front matter comment to ensure Jekyll properly reads file.
---

/*
  Site variables
*/

$title-font-family: 'Open Sans', 'Noto Serif TC', serif;

$base-font-family: 'Open Sans', 'Noto Sans TC', sans-serif;

$body-font-family: 'Open Sans', 'Noto Sans TC', sans-serif;

$code-font-family: 'Open Sans', 'Noto Sans TC', sans-serif;

$brand-color: black;

$container-width: 1100px;

$tablet-width: 600px;

$phone-width: 480px;

$header-thickness: 56px;

$compact-header-width: 750px;

@import "_sass/-sections-dir";
