---
layout: default
---

{% assign guests = site.guests | sort: 'order' %}
<div class="page-content guests">
  <h1>與旅行熱炒店合作過的來賓列表</h1>
  {% for guest in guests %}
    <div class="avatar" style="background-image: url({{ guest.avatar | default: 'https://www.flaticon.com/svg/static/icons/svg/847/847969.svg' }})"></div>
    <h1>{{ guest.name }}</h1>
    {% if guest.title %}
      <h3>{{ guest.title }}</h3>
    {% endif %}
    {{ guest.content | markdownify }}
    <b>合作集數：
      {% for episode in guest.episodes %}
        {% if episode >= 10 %}
         <a href="/podcast-ep0{{ episode }}">{{ episode }}</a>
        {% else %}
         <a href="/podcast-ep00{{ episode }}">{{ episode }}</a>
        {% endif %}
      {% endfor %}
    </b>
  {% endfor %}
</div>