---
layout: default
title: Home
---

<!-- <div id="locale"></div> -->

<!-- <div style="text-align: center; margin: 10px auto; color: #555; font-size: 14px;">{{ site.introduction }}</div> -->

<div class="campaign">
  <div class="slogan"><b>「透過旅行，認識世界，做一輩子的旅人。」</b></div>
  <div class="message">歡迎來到本站！我是熱愛自助旅行與文化探索的終身旅人Jerome，您可以透過以下方式與我一起遊遍世界各國！</div>
  <div class="button-container">
    <div class="button"><a href="https://www.facebook.com/lifetimesojourner" class="menu-link" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a></div>
    <div class="button"><a href="https://instagram.com/lifetimesojourner" class="menu-link" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a></div>
    <div class="button"><a href="https://medium.com/@jeromecyang" class="menu-link" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i> Medium</a></div>
  </div>
</div>

<div class="campaign">
  <div class="slogan"><b>「旅行熱炒店」PODCAST正式上線啦！</b></div>
  <div class="message">想知道更多精彩的旅行故事與地方趣聞、卻覺得閱讀文字太累嗎？來聽聽Jerome製作的podcast「旅行熱炒店」吧！以旅行故事、史地人文、話題時事為食材，30分鐘的大火快炒，與您一同細細品嘗來自世界各角落的獨特風味！</div>
  <div class="button-container">
    <div><a href="https://open.spotify.com/show/4ax4pKjk6P2GvPgXvJ3n85"><img src="assets/img/spotify-podcast-badge-blk-wht-165x40.png"></a></div>
    <div><a href="https://podcasts.apple.com/us/podcast/id1518914711"><img src="assets/img/US_UK_Apple_Podcasts_Listen_Badge_RGB.svg"></a></div>
  </div>
</div>

<div class="section-title">精選旅文</div>

<div class="many-posts">
  {% for post in site.data.settings.features %}
    {% include post-small.html %}
  {% endfor %}
</div>

<!-- <div class="section-title">推薦文章</div> -->

<div class="many-posts">
  {% for post in site.posts %}
    {% if post.featured %}
      {% include post-small.html %}
    {% endif %}
  {% endfor %}
</div>

<div style="text-align: center; margin: 20px auto">
  <a href="allposts.html">其他文章 More Posts</a>
</div>
