---
layout: default
title: Home
---

<!-- <div id="locale"></div> -->

<!-- <div style="text-align: center; margin: 10px auto; color: #555; font-size: 14px;">{{ site.introduction }}</div> -->

{% include podcast.html %}

<div class="campaign">
  <div class="slogan"><b>終身旅人JEROME的旅行記事</b></div>
  <div class="message">歡迎來到本站！除了下面的文章之外，您還可以透過以下方式與我一起遊遍世界各國！</div>
  <div class="button-container">
    <div class="button"><a href="https://www.facebook.com/lifetimesojourner" class="menu-link" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a></div>
    <div class="button"><a href="https://instagram.com/lifetimesojourner" class="menu-link" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a></div>
    <div class="button"><a href="https://medium.com/@jeromecyang" class="menu-link" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i> Medium</a></div>
  </div>
</div>

<!-- <div class="section-title">精選旅文</div> -->

<div class="many-posts">
  {% for post in site.data.settings.features %}
    {% include post-small.html %}
  {% endfor %}
</div>

<!-- <div class="section-title">推薦文章</div> -->

<div class="many-posts">
  {% for post in site.posts %}
    {% if post.featured %}
      {% include post-small.html %}
    {% endif %}
  {% endfor %}
</div>

<div style="text-align: center; margin: 20px auto">
  <a href="allposts.html">其他文章 More Posts</a>
</div>
